<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style/styles.css">
  <title>Planets App</title>
</head>

<body>
  <h1>Welcome to the Inhabitable Planets Tracker!</h1>
  <nav>
    <ul>
      <li>
        <a href="/planets">Planets</a>
      </li>
      <li>
        <a href="/planets/new">Add New Planet</a>
      </li>
    </ul>

  </nav>
  <p>A tracker for determining which planets to visit in the future</p>

  <img class="space-pic1"
    src="https://wallup.net/wp-content/uploads/2018/09/26/670080-space-outer-universe-stars-photography-detail-astronomy-nasa-hubble.jpg"
    alt="outer space image" />

</body>

<footer>Image by <a href="https://wallup.net/wp-content/uploads/2018/09/26/">Wallup</a></footer>

</html>