<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit a Planet</title>
  </head>
  <body>
    <h1>Edit <%= planet.name %></h1>
    <a href="/planets/new">Add New Planet</a>
    <a href="/planets">Back to Planets</a>
    <form action="/planets/<%=planet._id%>?_method=PUT" method="POST">

        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= planet.name %>" />

        <label for="distance">Distance in Lightyears:</label>
        <input type="text" name="distance" id="distance" value="<%= planet.distance %>"/>
    
        <label for="hasAtmosphere">Has Atmosphere?</label>
        <input type="checkbox" name="hasAtmosphere" <% if (planet.hasAtmosphere) { %>checked<% } %> >

    
        <button type="submit">Update Planet</button>
      </form>
  </body>
</html>
