<!-- views/planets/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/styles.css">
    <title>Add a Planet</title>
  </head>
  <body>
    <h1>Add a New Planet!</h1>
    <nav>
        <ul>
            <li>
                <a href="/planets/">Back to Planets</a>
            </li>
        </ul>
    </nav>
    
    <form action="/planets" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="distance">Distance in Lightyears:</label>
        <input type="text" name="distance" id="distance" />

        <div class="checkbox-div">
            <label for="hasAtmosphere">Has Atmosphere?</label>
            <input type="checkbox" name="hasAtmosphere" id="hasAtmosphere" />
        </div>
        
        <button type="submit">Add Planet</button>
      </form>

      <img class="space-pic2"
      src="https://scitechdaily.com/images/Brown-Dwarf-Orbiting-Close-Bright-Star-777x437.jpg"
      alt="outer space image" />

      <footer>Image by <a href="https://scitechdaily.com/images/Brown-Dwarf-Orbiting-Close-Bright-Star-777x437.jpg">Scitech Daily</a></footer>

  </body>
</html>
